/* 1st question */
table,
th,
td {
  border: 1px solid black;
  border-collapse: border;
}
th {
  font-size: larger;
}
td {
  font-size: larger;
  text-align: center;
}
 
/* 3rd question */
ul {
  list-style-type: none;
}
#item01 {
  background-color: gray;
}
#item02 {
  background-color: red;
}
#item03 {
  background-color: blue;
}
#item04 {
  background-color: green;
}

/* 4th question */
.grades th {
  width: 100px;
  border: 2px solid black;
  border-collapse: collapse;
  background-color: darkgray;
}
.grades td {
  font-size: larger;
  text-align: center;
}
.grades tr:nth-child(even) {
  background-color: whitesmoke;
}
.grades tr:nth-child(odd) {
  background-color: darkgray;
}

/* 6th question */
ul {
  list-style-type: none;
  padding: 0%;
}
li {
  /* padding: 10px; */
  margin: 10px;
  background-size: cover;
  color: black;
  font-size: larger;
  font-weight: bold;
  /* text-align: center; */
}
#city1 {
  background-image: url(nagpur\ image.jpeg);
  height: 180px;
  width: 500px;
}
#city2 {
  background-image: url(mubai\ image.jpeg);
  height: 180px;
  width: 500px;
}
#city3 {
  background-image: url(banglore\ image.jpeg);
  height: 180px;
  width: 500px;
}
#city4 {
  background-image: url(delhi\ image.jpeg);
  height: 180px;
  width: 500px;
}
#city5 {
  background-image: url(lucknow\ image.jpeg);
  height: 180px;
  width: 500px;
}
#city6 {
  background-image: url(pune\ image.jpeg);
  height: 180px;
  width: 500px;
}

/* 7th question */
.product {
  border: 2px;
  border-collapse: collapse;
  /* background-color: bisque; */
  font-size: larger;
}
.product th {
  text-align: center;
  background-color: bisque;
  font-size: larger;
}
.product td {
  text-align: center;
  font-size: medium;
}
.product tr:nth-child(even) {
  background-color: aqua;
}

/* 8th question */
.anime {
  font-weight: 500;
}
/* 9th question */
ul {
  list-style-type: none;
  padding: 0%;
}
.fruitlist li {
  margin: 10px;
  background-size: cover;
  font-size: larger;
  font-weight: bold;
}
#fruit1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-weight: 100;
}
#fruit2 {
  font-family: cursive;
  font-style: bold;
}
#fruit3 {
  font-family: fantasy;
  font-style: oblique;
}
#fruit4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
  font-weight: 200;
}
#fruit5 {
  font-family: monospace;
  font-style: unset;
}

/* 10th question */
.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}
.container h3 {
  /* text-align: center; */
  font-size: larger;
}
.employee_info {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.employee_info th {
  text-align: center;
  font-size: larger;
  font: bolder;
}

.employee_info td {
  text-align: center;
}

.second-level li {
    color: blue;
}
.third-level li {
  color: red;
}